{% extends "base.html" %}

{% block javascript %}
  <script>
    $('.main-question-list').on('click','a',function(e){
      e.preventDefault();
      var that = $(this)
      var question_pk = that.attr('href').slice(18,-1)
      console.log(question_pk)
      deleteQuestion();

      function deleteQuestion() {
        $.ajax({
          url  : that.attr('href'),
          type : "DELETE",
          success : function(json) {
            $('#question-'+json.pk).detach()
          }
        })
      }
    })
  </script>
{% endblock %}

{% block content %}
<div class="main-question-list">
  <h1>Questions</h1>
  {% for question in question_list %}
  {% include "questions/_question.html" with question=question %}
  {% endfor %}
</div>
{% endblock %}
