{% extends "base.html" %}
{% load bootstrap3 %}

{% block javascript %}

{% endblock %}

{% block content %}
  <h2>
    title: {{question.title}}
  </h2>
  <h3>
    details: {{question.details}}
  </h3>
  <p>asked by: <a href="{% url 'accounts:detail' pk=question.user.id %}">{{question.user.username}}</a>,  on: {{question.created_at}}</p>
  <p>
    {% if user.is_authenticated and question.user.username == request.user.username and not hide_delete %}
        <a href="{% url 'questions:delete' pk=question.pk %}" title="delete" class="btn btn-simple">
          <span class="glyphicon glyphicon-remove text-danger"></span>
          <span class="text-danger icon-label">Delete</span>
        </a>
    {% endif %}
  <h4>comments</h4>
    {% for comment in question_comments %}
      <p>{{comment.text}}</p>
      {% if user.is_authenticated and comment.user.username == request.user.username %}
          <a href="{% url 'comments:delete_question_comment' pk=comment.pk %}" title="delete" class="btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger"></span>
            <span class="text-danger icon-label">Delete</span>
          </a>
      {% endif %}
    {% endfor %}
    <div class="form-group form-group-sm">
      <form action={% url 'comments:create_question_comment' pk=question.pk %} method="post">
          {% csrf_token %}
          {% bootstrap_form question_comment_form %}
          <input type="submit" value="Comment on Question" id="question_comment" class="btn btn-default">
      </form>
    </div>
  </p>
  <p>vote total: {{question.votes}}</p>
  <p>
    <a href="{% url 'questions:upvote' pk=question.pk %}">Upvote</a>
    <a href="{% url 'questions:downvote' pk=question.pk %}">Downvote</a>
  </p>
  <h3>
    Answers
  </h3>
  {% for answer in question.answers.all %}
    {% include "answers/_answer.html" with answer=answer %}
  {% endfor %}
  <h1>Create an Answer</h1>
  <div class="container">
      <form method="post">
          {% csrf_token %}
          {% bootstrap_form answer_form %}
          <input type="submit" value="Post Answer" class="btn btn-default">
      </form>
  </div>
  <h3>Tags</h3>
  {% if questionstags %}
    {% for tag in questionstags %}
      <a href="{% url 'tags:detail' pk=tag.pk %}">{{tag}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}
