{% extends "base.html" %}
{% load bootstrap3 %}

{% block javascript %}
  <script>
    $('#answer-creation-form').on('submit', function(e){
      e.preventDefault();
      create_question_answer();
    });

    $('#question_comment_form').on('submit', function(e){
      var that = $(this)
      e.preventDefault();
      create_question_comment();
    });

    $('.answers-list').on('submit', "form", function(e){
      e.preventDefault();
      var that = $(this)
      var answer_comment_text = that.children().last().prev().children().last().val()
      comment_on_answer();

      function comment_on_answer() {
        $.ajax({
          url : that.attr('action'),
          type : "POST",
          data : { pk: that.attr('id'), text: answer_comment_text },
          success: function(json) {
            that.prepend("<p>"+json['text']+"</p>"+"<a href='/comments/answer/delete/"+json['pk']+"' title='delete' id='"+json['pk']+"' class='btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"+"</a>")
          }
        })
      }

    })

    $('.answers-list').on('click', "a", function(e){
      e.preventDefault();
      var that = $(this)
      delete_answer();

      function delete_answer() {
        $.ajax({
          url : that.attr('href'),
          type : "DELETE",
          data : { pk: that.attr('id') },
          success: function() {
            that.parent().parent().detach()
          }
        })
      }
    });

    $('.question-comment-list').on("click", "a", function(e){
      var that = $(this)
      e.preventDefault();
      delete_question_comment();

      function delete_question_comment() {
        $.ajax({
          url : that.attr('href'),
          type : "DELETE",
          data : { pk: that.attr('id') },
          success: function() {
            that.parent().detach()
          }
        })
      }
    });

    function create_question_comment() {
      $.ajax({
        url : '{% url 'comments:create_question_comment' pk=question.pk %}',
        type : "POST",
        data : {the_data : $('#question-comment').val()},
        success : function(json) {
          $('#question-comment').val('');
          $('.question-comment-list').children().last().append("<li><p>"+json['text']+"</p>"+"<a href='/comments/question/delete/"+json['pk']+"' title='delete' id='"+json['pk']+"' class='btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"+"</a>")
        }
      })
    };

    function create_question_answer() {
      $.ajax({
        url : '{% url 'answers:create' pk=question.pk %}',
        type : "POST",
        data : {the_data : $('#answer').val()},
        success : function(json) {
          $('#answer').val('');
          $('.answers-list').append("<div class='answer-instance'><p><strong>"+json['text']+"</strong></p>"+"<p>answered by: "+"<a href='/accounts/profile/"+json['user_id']+"'>"+json['user']+"</a>"+"<a href='/answers/delete/"+json['pk']+"' title='delete' id='"+json['pk']+"' class='btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"+"</a>"+"</p>"+"<div class='answer-comment-section'></div><div class='answer-comment form-group'>"+"<form action='/comments/answer/delete/"+json['pk']+" ' method='post' id='"+json['pk']+"'>"+"<input id='answer-comment' class='form-control' placeholder='comment' type='text' name='answer_comment'>"+"<input type='submit' value='Comment on Answer' class='answer-on-comment btn btn-default'>"+"</form></div></div>")
        }
      })
    };

  </script>
{% endblock %}

{% block content %}
  <h2>
    title: {{question.title}}
  </h2>
  <h3>
    details: {{question.details}}
  </h3>
  <p>asked by: <a href="{% url 'accounts:detail' pk=question.user.id %}">{{question.user.username}}</a>,  on: {{question.created_at}}</p>
  <p>
    {% if user.is_authenticated and question.user.username == request.user.username and not hide_delete %}
        <a href="{% url 'questions:delete' pk=question.pk %}" title="delete" class="btn btn-simple">
          <span class="glyphicon glyphicon-remove text-danger"></span>
          <span class="text-danger icon-label">Delete</span>
        </a>
    {% endif %}
<div>
  <h4>comments</h4>
  <ul class="question-comment-list">
    {% for comment in question_comments %}
    <li>
      <p>{{comment.text}}</p>
      {% if user.is_authenticated and comment.user.username == request.user.username %}
          <a href="{% url 'comments:delete_question_comment' pk=comment.pk %}" title="delete" id={{comment.pk}} class="btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger"></span>
            <span class="text-danger icon-label">Delete</span>
          </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
    <div class="form-group form-group-sm">
      <form id="question_comment_form" action={% url 'comments:create_question_comment' pk=question.pk %} method="post">
          {% csrf_token %}
          {% bootstrap_form question_comment_form %}
          <input type="submit" value="Comment on Question" id="question-comment" class="btn btn-default">
      </form>
    </div>
  </p>
  <p>vote total: {{question.votes}}</p>
  <p>
    <a href="{% url 'questions:upvote' pk=question.pk %}">Upvote</a>
    <a href="{% url 'questions:downvote' pk=question.pk %}">Downvote</a>
  </p>
  <div class="container answers-list">
    <h3>
      Answers
    </h3>
    {% for answer in question.answers.all %}
      {% include "answers/_answer.html" with answer=answer %}
    {% endfor %}
  </div>
  <h1>Create an Answer</h1>
  <div class="container">
      <form id="answer-creation-form" method="post">
          {% csrf_token %}
          {% bootstrap_form answer_form %}
          <input type="submit" value="Post Answer" class="btn btn-default">
      </form>
  </div>
  <h3>Tags</h3>
  {% if questionstags %}
    {% for tag in questionstags %}
      <a href="{% url 'tags:detail' pk=tag.pk %}">{{tag}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}
<script src="static/js/app.js"></script>
