{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block javascript %}
  <script>
    $(".load-more-answer-comments").on('click',function(e) {
      e.preventDefault();
      var that = $(this)
      var acList = that.attr('id').slice(21,that.attr('id').length)
      $('#ac-list-'+acList).find('li.hidden').removeClass('hidden')
      $('#load-answer-comments-'+acList).detach()
    })

    $(".answer-votes").on('click','a',function(e) {
      e.preventDefault();
      var that = $(this)
      if (that.attr('href').slice(1,13) == 'answers/upvo') {
        upvoteAnswer();
      } else if (that.attr('href').slice(1,13) == 'answers/down') {
        downvoteAnswer();
      }
      function upvoteAnswer() {
        $.ajax({
          url  : that.attr('href'),
          type : "POST",
          success : function(json) {
            var endLength = $("#answer-votes-"+json.pk).text().length
            $("#answer-votes-"+json.pk).text('vote total: '+(parseInt($('#answer-votes-'+json.pk).text().slice(12,endLength))+json.count))
          }
        });
      }
      function downvoteAnswer() {
        $.ajax({
          url  : that.attr('href'),
          type : "POST",
          success : function(json) {
            var endLength = $('#answer-votes-'+json.pk).text().length
            $('#answer-votes-'+json.pk).text('vote total: '+(parseInt($('#answer-votes-'+json.pk).text().slice(12,endLength))-json.count))
          }
        });
      }
    })

    $(".answer-comment-button").on('click', function(e) {
      e.preventDefault();
      var that = $(this)
      var endChar = that.attr('id').length
      var answerId = that.attr('id').slice(22,endChar)
      $(this).addClass('hidden')
      $("#answer_comment_div-"+answerId).removeClass('hidden')
    })

    $('#question-comment-button').on('click', function(e) {
      e.preventDefault();
      $(this).addClass('hidden')
      $("#question_comment_div").removeClass('hidden')
    })

    $('#load-more-comments').on('click',function(e){
      var that = $(this);
      e.preventDefault();
      show_question_comments();

      function show_question_comments() {
        $('#qc-list').find('li.hidden').removeClass('hidden')
        $('#load-more-comments').detach()
      }
    })

    $('.question-votes').on('click','a',function(e){
      var that = $(this)
      e.preventDefault();
      if (that.attr('id').slice(0,15) == 'question-upvote') {
        upvoteQuestion();
      } else {
        downvoteQuestion();
      }
      function upvoteQuestion() {
        $.ajax({
          url  : that.attr('href'),
          type : "POST",
          success : function(json) {
            var endLength = $('#vote-total-'+json.pk).text().length
            $('#vote-total-'+json.pk).text('vote total: '+(parseInt($('#vote-total-'+json.pk).text().slice(12,endLength))+json.count))
          }
        })
      }
      function downvoteQuestion() {
        $.ajax({
          url  : that.attr('href'),
          type : "POST",
          success : function(json) {
            var endLength = $('#vote-total-'+json.pk).text().length
            $('#vote-total-'+json.pk).text('vote total: '+(parseInt($('#vote-total-'+json.pk).text().slice(12,endLength))-json.count))
          }
        })
      }
    })

    $('#answer-creation-form').on('submit', function(e){
      e.preventDefault();
      create_question_answer();
    });

    $('#question_comment_form').on('submit', function(e){
      var that = $(this)
      e.preventDefault();
      create_question_comment();
    });

    $('.answers-list').on('submit', "form", function(e){
      e.preventDefault();
      var that = $(this)
      var answer_comment_text = that.children().last().prev().children().last().val()
      comment_on_answer();

      function comment_on_answer() {
        $.ajax({
          url : that.attr('action'),
          type : "POST",
          data : { pk: that.attr('id'), text: answer_comment_text },
          success: function(json) {
            that.children().last().prev().children().last().val('');
            $("#answer-comments-"+json['answer_pk']).append("<p id='answer-comment-"+json.pk+"'>"+json['text']+"<a href='/comments/answer/delete/"+json['pk']+"' title='delete' id='delete-comment-"+json['pk']+"' class='answer-delete-button btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span></a></p>")
            $("#answer-comment-button-"+that.attr('id')).removeClass('hidden')
            $("#answer_comment_div-"+that.attr('id')).addClass('hidden')
          }
        })
      }
    })

    $('.answers-list').on('click', "a", function(e){
      e.preventDefault();
      var that = $(this)
      if(that.attr('id')){
        // since our answers-list contains 'a' tags that do not have id's,
        // and which will be handled by a different event listener
        // we will only be performing an action here if the click 'a' tag has an id
        var id_len = that.attr('id').length
        if (that.attr('id').slice(0,10) == 'delete-com') {
          delete_comment();
        } else {
          if (that.attr('id').slice(0,10) == 'delete-ans'){
            delete_answer();
          }
        }
        function delete_answer() {
          $.ajax({
            url : that.attr('href'),
            type : "DELETE",
            data : { pk: that.attr('id').slice(14, id_len) },
            success: function() {
              that.parent().parent().detach()
            }
          })
        }
        function delete_comment() {
          $.ajax({
            url : that.attr('href'),
            type : "DELETE",
            data : { pk: that.attr('id').slice(14, id_len) },
            success: function(json) {
              $('#answer-comment-'+json.pk).parent().detach()
            }
          })
        }
      }
    });

    $('.question-comment-list').on("click", "a", function(e){
      var that = $(this)
      e.preventDefault();
      delete_question_comment();

      function delete_question_comment() {
        $.ajax({
          url : that.attr('href'),
          type : "DELETE",
          data : { pk: that.attr('id') },
          success: function(json) {
            $('#question-comment-'+json.pk).detach()
          }
        })
      }
    });

    function create_question_comment() {
      $.ajax({
        url : '{% url 'comments:create_question_comment' pk=question.pk %}',
        type : "POST",
        data : {the_data : $('#question-comment').val()},
        success : function(json) {
          $('#question-comment').val('');
          $('.question-comment-list').append("<li id='question-comment-"+json['pk']+"'><p>"+json['text']+"<a href='/comments/question/delete/"+json['pk']+"' title='delete' id='"+json['pk']+"' class='btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"+"</a></p>")
          $("#question_comment_div").addClass('hidden')
          $('#question-comment-button').removeClass('hidden')
        }
      })
    };

    function create_question_answer() {
      $.ajax({
        url : '{% url 'answers:create' pk=question.pk %}',
        type : "POST",
        data : {the_data : $('#answer').val()},
        success : function(json) {
          $('#answer').val('');
          $('.answers-list').append("<div class='answer-instance'><p><strong>"+json['text']+"</strong></p>"+"<p>answered by: "+"<a href='/accounts/profile/"+json['user_id']+"'>"+json['user']+"</a>"+"<a href='/answers/delete/"+json['pk']+"' title='delete' id='delete-answer-"+json['pk']+"' class='btn btn-simple'>"+"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"+"</a><p>comments</p></p>"+"<div class='answer-comment-section' id='answer-comments-"+json['pk']+"'></div><div class='answer-comment form-group'>"+"<form action='/comments/answer/create/"+json['pk']+"/' method='post' id='"+json['pk']+"'>"+"<p><input id='answer-comment' class='form-control' placeholder='comment' type='text' name='answer_comment'></p>"+"<input type='submit' value='Comment on Answer' class='answer-on-comment btn btn-default'>"+"</form></div></div>")
        }
      })
    };
  </script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}" />
<div class="container">
  <div class="row Aligner">
    <div class="col-md-1">
      <p id='vote-total-{{question.pk}}'>vote total: {{question.votes}}</p>
    </div>
    <div class="arrows col-md-1">
      {% if user.is_authenticated and answer.user.username != request.user.username and not hide_delete %}
        <p class='question-votes'>
          <a id='question-upvote-{{question.pk}}' href="{% url 'questions:upvote' pk=question.pk %}">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </a>
        </p>
        <p class='question-votes'>
          <a id='question-downvote-{{question.pk}}' href="{% url 'questions:downvote' pk=question.pk %}">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </a>
        </p>
      {% endif %}
    </div>
    <div class="col-md-4 question-details">
      <h2>
        title: {{question.title}}
      </h2>
      <h3>
        details: {{question.details}}
      </h3>
      <p>asked by: <a href="{% url 'accounts:detail' pk=question.user.id %}">{{question.user.username}}</a>,  on: {{question.created_at}}</p>
      <p>
        {% if user.is_authenticated and question.user.username == request.user.username and not hide_delete %}
            <a href="{% url 'questions:delete' pk=question.pk %}" title="delete" class="btn btn-simple">
              <span class="glyphicon glyphicon-remove text-danger"></span>
              <span class="text-danger icon-label">Delete</span>
            </a>
        {% endif %}
      </p>
    </div>
  </div>
  <div id="question-comment-div">
    <div class="row Aligner">
      <h4 id="comment-title" class="col-md-1">comments</h4>
      <ul id="qc-list" class="question-comment-list">
        {% for comment in question_comments %}
        <li id="question-comment-{{comment.pk}}" class="hidden">
          <p>
            {{comment.text}}
            {% if user.is_authenticated and comment.user.username == request.user.username %}
                <a href="{% url 'comments:delete_question_comment' pk=comment.pk %}" title="delete" id={{comment.pk}} class="btn btn-simple">
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                  <span class="text-danger icon-label">Delete</span>
                </a>
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script>
    var question_comment_list = document.getElementById("qc-list");
    var question_comments = question_comment_list.getElementsByTagName("li");
    if (question_comments.length > 2) {
      var parent = document.getElementById('comment-title');
      var newParagraph = document.createElement("p");
      var loadComments = document.createElement("a");
      loadComments.href = '#'
      loadComments.id = 'load-more-comments'
      loadComments.innerHTML = "Load More"
      parent.appendChild(newParagraph).appendChild(loadComments);
    }
    for(var i = 0; i < question_comments.length; i++) {
      if (i < 2){
        question_comments[i].classList.remove('hidden')
      }
    }
  </script>
      <p><button id="question-comment-button" type="button" class="btn btn-primary">Comment</button></p>
      <div id="question_comment_div" class="form-group form-group-sm hidden">
        <form id="question_comment_form" action={% url 'comments:create_question_comment' pk=question.pk %} method="post">
            {% csrf_token %}
            {% bootstrap_form question_comment_form %}
            <input type="submit" value="Comment on Question" id="question-comment" class="btn btn-default">
        </form>
      </div>
  <script>
  var question_comment_list = document.getElementById("qc-list");
  var question_comments = question_comment_list.getElementsByTagName("li");
  var theButton = document.getElementById('question-comment-button')
  var spanCount = 0
  if (question_comments.length > 2) {
    if(question_comments[0].childNodes[1].childNodes[1]) {
      spanCount++
    }
    if(question_comments[1].childNodes[1].childNodes[1]) {
      spanCount++
    }
    if (spanCount == 2) {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-load-more-two-span-button'
    } else if (spanCount == 1) {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-load-more-one-span-button'
    } else {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-load-more-no-span-button'
    }
  } else if (question_comments.length == 2) {
    if(question_comments[0].childNodes[1].childNodes[1]) {
      spanCount++
    }
    if(question_comments[1].childNodes[1].childNodes[1]) {
      spanCount++
    }
    if (spanCount == 2) {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-two-span-button'
    } else if (spanCount == 1) {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-one-span-button'
    } else {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-no-span-button'
    }
  } else if (question_comments.length == 1) {
    if(question_comments[0].childNodes[1].childNodes[1]) {
      spanCount++
    }
    if (spanCount == 1) {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-one-com-one-span-button'
    } else {
      theButton.className = ''
      theButton.className += 'btn btn-primary qc-one-com-no-span-button'
    }
  } else {
    theButton.className = ''
    theButton.className += 'btn btn-primary qc-no-com-button'
  }
  </script>
    <p>==========================================================================</p>
    <div class="container answers-list">
      <h2>
        Answers
      </h2>
      <script>
        var answerCount = 0
      </script>
        {% for answer in question.answers.all %}
          {% include "answers/_answer.html" with answer=answer %}
        {% endfor %}
    </div>
    <h1>Create an Answer</h1>
    <div class="container">
        <form id="answer-creation-form" method="post">
            {% csrf_token %}
            {% bootstrap_form answer_form %}
            <input type="submit" value="Post Answer" class="btn btn-default">
        </form>
    </div>
    <h3>Tags</h3>
    {% if questionstags %}
      {% for tag in questionstags %}
        <a href="{% url 'tags:detail' pk=tag.pk %}">{{tag}}</a>
      {% endfor %}
    {% endif %}
</div>
  {% endblock %}
  <script src="static/js/app.js"></script>
