{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'private_messages/style.css' %}" />

{% block javascript %}
  <script>
    var someVar = 0
    var replying
    function cancelMessage(){
      document.getElementById('new-message-div').classList.add('hidden')
      document.getElementById('new-message-button').classList.remove('hidden')
    }

    document.getElementById('cancel-message').addEventListener('click', cancelMessage);

    function sendMessage(){
      console.log($('#id_recipient').val());
      $.ajax({
        url  : "{% url 'private_messages:new_message' %}",
        type : "POST",
        data : { recipient: $('#id_recipient').val(), subject: $('#id_subject').val(), message: $('#id_message').val() },
        success : function(json) {
          cancelMessage()
          if (json.recipient_id == json.sender_id) {
            $('.inbox-messages').prepend("<div id='inbox-message-"+json.message_pk+"'><h3 id='subject_line'>subject: <a href='/messages/details/"+json.message_pk+"/'>"+json.subject+"</a></h3><p>sent by: <a href='/accounts/profile/"+json.sender_id+"'>"+json.username+"</a></p><p><a href='/accounts/profile/"+json.sender_id+"/'></a></p><p><a href='/messages/delete/"+json.message_pk+"/' title='delete' class='btn btn-simple'><span class='glyphicon glyphicon-remove text-danger'></span><span class='text-danger icon-label'>Delete</span></a></p></div>")
            $('.outbox-messages').prepend("<div id='inbox-message-"+json.message_pk+"'><h3 id='subject_line'>subject: <a href='/messages/details/"+json.message_pk+"/'>"+json.subject+"</a></h3><p>sent by: <a href='/accounts/profile/"+json.sender_id+"'>"+json.username+"</a></p><p><a href='/accounts/profile/"+json.sender_id+"/'></a></p><p><a href='/messages/delete/"+json.message_pk+"/' title='delete' class='btn btn-simple'><span class='glyphicon glyphicon-remove text-danger'></span><span class='text-danger icon-label'>Delete</span></a></p></div>")
          } else {
            $('.outbox-messages').prepend("<div id='inbox-message-"+json.message_pk+"'><h3 id='subject_line'>subject: <a href='/messages/details/"+json.message_pk+"/'>"+json.subject+"</a></h3><p>sent by: <a href='/accounts/profile/"+json.sender_id+"'>"+json.username+"</a></p><p><a href='/accounts/profile/"+json.sender_id+"/'></a></p><p><a href='/messages/delete/"+json.message_pk+"/' title='delete' class='btn btn-simple'><span class='glyphicon glyphicon-remove text-danger'></span><span class='text-danger icon-label'>Delete</span></a></p></div>")
          }
        }
      })
    }

    $('#new-message-button').on('click',function(e){
      $('#new-message-div').removeClass('hidden');
      $('#new-message-button').addClass('hidden');
    })

    $('.inbox-messages').on('submit', 'form', function(e) {
      e.preventDefault();
      var that = $(this);
      var responseId = that.parent().children(1).children().attr('href').slice(18,that.parent().children(1).children().attr('href').length -1);
      var recipientId = document.getElementById('inbox-message-'+responseId).children[1].children[0].getAttribute("href").slice(18,document.getElementById('inbox-message-'+responseId).children[1].children[0].getAttribute("href").length - 1)
      var subject = document.getElementById('reply-subject-'+responseId).value
      var message = document.getElementById('reply-message-'+responseId).value
      sendReply();
      function sendReply(){
        $.ajax({
          url  : "{% url 'private_messages:new_message' %}",
          type : "POST",
          data : { recipient: recipientId, subject: subject, message: message },
          success : function(){
            that.parent().addClass('hidden')
            that.parent().prev().removeClass('hidden')
            replying = false
          }
        })
      }
    })

    $('.reply-button').on('click',function(e){
      e.preventDefault();
      var that = $(this)
      var replyButtonId = that.attr('id').slice(13,that.attr('id').length)
      if (someVar == replyButtonId) {
        that.parent().next().removeClass('hidden')
        that.parent().addClass('hidden')
      } else {
          if (replying != true) {
            appendReply()
            function appendReply(){
              that.parent().addClass('hidden')
              that.parent().parent().append("<form id='reply-form-"+replyButtonId+"' class='reply-message' method='post'><div class='col-md-2'><input id='reply-subject-"+replyButtonId+"' class='form-control' type='text' placeholder='subject' value=''></div><div class='form-group'><textarea id='reply-message-"+replyButtonId+"' class='form-control' rows='4' placeholder='message' value=''></textarea></div><input type='submit' value='message' class='btn btn-primary' name='submit'><button id='cancelmessage' class='btn btn-simple'>cancel</button></form>")
              someVar = replyButtonId
              replying = true
          }
        } else {
          alert('Reply to one person at a time please')
        }
      }
    })

    $('.inbox-messages').on('click','button',function(e){
      e.preventDefault();
      var that = $(this)
      if (that.attr('id') == 'cancelmessage') {
        that.parent().addClass('hidden')
        that.parent().prev().removeClass('hidden')
        replying = false
      }
    })

    $('.inbox-messages').on('click','a',function(e){
      e.preventDefault();
      that = $(this)
      delete_message();

      function delete_message(){
        $.ajax({
          url  : that.attr('href'),
          type : "DELETE",
          success : function(json) {
            that.parent().parent().detach()
          }
        })
      }
    })

    $('#new-message-div').on('submit','form',function(e){
      e.preventDefault();
      that = $(this)
      sendMessage();
    })
  </script>
{% endblock %}

{% block content %}
  <div class="new-message">
    <h1>Inbox</h1>
    <p><a id="new-message-button" href="#">New Message</a></p>
    <div id='new-message-div' class='hidden'>
      <h1>New Message</h1>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form message_form %}
        <p>
          <input type='submit' class='btn btn-primary' value='Send Message'>
          <button id="cancel-message" class='btn btn-primary' type="button" name="button">Cancel</button>
        </p>
      </form>
    </div>
  </div>
  <div class="inbox-messages">
    {% for message in users_inbox  %}
      {% include "private_messages/_message.html" %}
    {% endfor %}
  </div>
  <h1>Sent Messages</h1>
  <div class="outbox-messages">
    {% for message in users_outbox  %}
      {% include "private_messages/_outbox_message.html" %}
    {% endfor %}
  </div>
{% endblock %}
