{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Stack Overclone{% endblock %}</title>

    {# jquery, needed here for bootstraps javascript #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>

  <nav class="navbar mynav" role='navigation' id='navbar'>
    <div class="container">
      <a class='navbar-brand mynav' href="{% url 'home' %}">Home</a>

      <ul class='nav navbar-nav navbar-right'>
        {% if user.is_authenticated %}
          <li><a href="{% url 'questions:new_question' %}" class="btn btn-simple">New Question</a></li>
          <li><a href="{% url 'questions:list' %}" class="btn btn-simple">Questions</a></li>
          <li><a href="{% url 'tags:list' %}"class="btn btn-simple">Tags</a></li>
          <li><a href="{% url 'accounts:detail' pk=user.pk %}">Profile</a></li>
          <li><a href="{% url 'private_messages:list' %}"class="btn btn-simple">Messages</a></li>
          <li><a href="{% url 'accounts:logout' %}"class="btn btn-simple">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'questions:list' %}"class="btn btn-simple">Questions</a></li>
          <li><a href="{% url 'accounts:login' %}">Log In</a></li>
          <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <div class="container mycontent">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
  </footer>

  <script src="{% static 'js/app.js' %}"></script>
  {% block javascript %}{% endblock %}
  </body>
</html>
