{% extends 'base.html' %}
{% load bootstrap3 %}

{% block javascript %}
<script>
  $("#id_username").change(function () {
    var username = $(this).val();

    $.ajax({
      url: '{% url 'accounts:validate_username' %}',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert(data.error_message);
        }
      }
    });

  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Sign Up</h1>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-default" value="Sign Up">
  </form>

</div>
{% endblock %}







{# <ul class="question-comment-list">
  {% for comment in question_comments %}
  <li>
    <p>{{comment.text}}</p>
    {% if user.is_authenticated and comment.user.username == request.user.username %}
        <a href="{% url 'comments:delete_question_comment' pk=comment.pk %}" title="delete" class="btn btn-simple">
          <span class="glyphicon glyphicon-remove text-danger"></span>
          <span class="text-danger icon-label">Delete</span>
        </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>



$('.question-comment-list').append("<li>"+json['text']+"</li>")#}
{#
<a href='{% url \"comments:delete_question_comment\" pk=comment.pk %}' title=\"delete\" class='btn btn-simple'>
  <span class='glyphicon glyphicon-remove text-danger'></span>
  <span class='text-danger icon-label'>Delete</span>
</a>





<span class=\"glyphicon glyphicon-remove text-danger\"></span>"+"<span class=\"text-danger icon-label\">Delete</span>




"<span class='glyphicon glyphicon-remove text-danger'></span>"+" "+"<span class='text-danger icon-label'>Delete</span>"























#}
