<div class="answer-instance">
  <p><strong>{{answer.text}}</strong></p>
  <p>
    answered by: <a href="{% url 'accounts:detail' pk=answer.user.id %}">{{answer.user.username}}</a> on: {{answer.created_at}}
    {% if user.is_authenticated and answer.user.username == request.user.username and not hide_delete %}
        <a href="{% url 'answers:delete' pk=answer.pk %}" title="delete" id={{answer.id}} class="btn btn-simple">
          <span class="glyphicon glyphicon-remove text-danger"></span>
          <span class="text-danger icon-label">Delete</span>
        </a>
    {% endif %}
  </p>
  <p>vote total: {{answer.votes}}</p>
  <p>
    <a href="{% url 'answers:upvote' pk=answer.pk %}">Upvote</a>
    <a href="{% url 'answers:downvote' pk=answer.pk %}">Downvote</a>
  </p>
  <div class='answer-comment-section'>
    {% for ac in answer.answer_comment.all %}
      <p>{{ac.text}}</p>
      {% if user.is_authenticated and answer.user.username == request.user.username and not hide_delete %}
          <a href="{% url 'comments:delete_answer_comment' pk=ac.pk %}" id={{ac.pk}} title="delete" class="answer-delete-button btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger"></span>
            <span class="text-danger icon-label">Delete</span>
          </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class='answer-comment container'>
    <form action={% url 'comments:create_answer_comment' pk=answer.pk %} id={{answer.pk}} method='post'>
        {% csrf_token %}
        {{answer_comment_form.as_p}}
        <input type='submit' value='Comment on Answer' class='btn btn-default'>
    </form>
  </div>
</div>
