<div class="answer-instance">
  <div class="row Aligner">
    <div class="col-md-1">
      <p id="answer-votes-{{answer.pk}}">vote total: {{answer.votes}}</p>
    </div>
    <div class="arrows col-md-1">
      {% if user.is_authenticated and answer.user.username != request.user.username and not hide_delete %}
      <p class="answer-votes">
        <a href="{% url 'answers:upvote' pk=answer.pk %}"><span class="glyphicon glyphicon-arrow-up"></span></a>
      </p>
      <p class="answer-votes">
        <a href="{% url 'answers:downvote' pk=answer.pk %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
      </p>
      {% endif %}
    </div>
    <div class="col-md-4 answer-details">
      <p><strong>{{answer.text}}</strong></p>
      <p>
        answered by: <a href="{% url 'accounts:detail' pk=answer.user.id %}">{{answer.user.username}}</a> on: {{answer.created_at}}
        {% if user.is_authenticated and answer.user.username == request.user.username and not hide_delete %}
            <a href="{% url 'answers:delete' pk=answer.pk %}" title="delete" id="delete-answer-{{answer.id}}" class="btn btn-simple">
              <span class="glyphicon glyphicon-remove text-danger"></span>
              <span class="text-danger icon-label">Delete</span>
            </a>
        {% endif %}
      </p>
    </div>
  </div>
  <div id='answer-comments-{{answer.pk}}' class='answer-comment-section'>
    <div class="row Aligner">
      <h4 id="answer-comments-{{answer.pk}}" class="comment-title ac-title col-md-1">comments</h4>
      <ul id="ac-list-{{answer.pk}}" class="answer-comment-list">
        {% for ac in answer.answer_comment.all %}
        <li>
          <p id="answer-comment-{{ac.pk}}">
            {{ac.text}}
            {% if user.is_authenticated and ac.user.username == request.user.username and not hide_delete %}
                <a href="{% url 'comments:delete_answer_comment' pk=ac.pk %}" id="delete-comment-{{ac.pk}}" title="delete" class="answer-delete-button btn btn-simple">
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                  <span class="text-danger icon-label">Delete</span>
                </a>
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script>
    var answerCommentDiv = document.getElementsByClassName('answer-comment-section')[answerCount];
    var answerCommentSection = answerCommentDiv.children[0].childNodes[3]
    var answer_comments = answerCommentSection.getElementsByTagName('li')
    var answerCommentId = answerCommentDiv.getAttribute('id').slice(16,answerCommentDiv.getAttribute('id').length)
    if (answer_comments.length > 2) {
      var parent = document.getElementsByClassName('ac-title')[answerCount];
      var newParagraph = document.createElement("p");
      var loadComments = document.createElement("a");
      loadComments.href = '#'
      loadComments.id = 'load-answer-comments-'+answerCommentId
      loadComments.className += 'load-more-answer-comments'
      loadComments.innerHTML = "Load More"
      parent.appendChild(newParagraph).appendChild(loadComments);
    }
    for(var i = 0; i < answer_comments.length; i++) {
      if (i > 1){
        answer_comments[i].classList.add('hidden')
      }
    }
    answerCount++
  </script>
  <p><button type="button" id="answer-comment-button-{{answer.pk}}" class="btn btn-primary answer-comment-button">Comment</button></p>
  <div id="answer_comment_div-{{answer.pk}}" class='answer-comment container hidden'>
    <form action={% url 'comments:create_answer_comment' pk=answer.pk %} id={{answer.pk}} method='post'>
        {% csrf_token %}
        {{answer_comment_form.as_p}}
        <input type='submit' value='Comment on Answer' class='btn btn-default'>
    </form>
  </div>
  <script>
    var answerCommentDiv = document.getElementsByClassName('answer-comment-section')[answerCount-1];
    var answerCommentId = answerCommentDiv.getAttribute('id').slice(16,answerCommentDiv.getAttribute('id').length)
    var answer_comments = answerCommentSection.getElementsByTagName('li')
    var theButton = document.getElementById('answer-comment-button-'+answerCommentId)
    if (answer_comments.length == 0) {
      theButton.className = ''
      theButton.className += 'btn btn-primary answer-comment-button no-comment-button'
    } else if (answer_comments.length == 1) {
      var spanTotal = 0
      if (answer_comments[0].childNodes[1].childNodes[1]) {
        spanTotal ++
      }
      if (spanTotal == 1) {
        theButton.className = ''
        theButton.className += 'btn btn-primary answer-comment-button one-comment-button'
      } else {
        theButton.className = ''
        theButton.className += 'btn btn-primary answer-comment-button one-comment-no-span-button'
      }
    } else if (answer_comments.length == 2) {
      var spanTotal = 0
      if (answer_comments[0].childNodes[1].childNodes[1]) {
        spanTotal ++
      }

      if (answer_comments[1].childNodes[1].childNodes[1]) {
        spanTotal ++
      }
      if (spanTotal == 2) {
        theButton.className = ''
        theButton.className += 'btn btn-primary answer-comment-button two-comment-two-span-button'
      } else if (spanTotal == 1) {
        theButton.className = ''
        theButton.className += 'btn btn-primary answer-comment-button two-comment-one-span-button'
      } else if (spanTotal == 0) {
        theButton.className = ''
        theButton.className += 'btn btn-primary answer-comment-button two-comment-no-span-button'
      }
    } else {
      theButton.className = ''
      theButton.className += 'btn btn-primary answer-comment-button answer-reveal-button'
    }
  </script>
</div>
<p>_______________________________________________________________________________________________</p>
