.Aligner {
  display: flex;
  align-items: center;
  margin-left: -12%;
}

.arrows {
  margin-left: -4%;
}

.answer-comment-button{
  margin-top: -3%;
  margin-left: -11%;
}

.answer-reveal-button{
  margin-top: -5%;
  margin-left: -11%;
}

.one-comment-button{
  margin-top: -6%;
  margin-left: -11%;
}

.two-comment-button{
  margin-top: -15%;
  margin-left: -11%;
}

.no-comment-button{
  margin-top: -1%;
  margin-left: -11%;
}

.question-details {
  margin-left: -3%;
}

.answer-details {
  margin-left: -3%;
}

#load-more-comments{
  font-size: 65%;
}

.spacing-tag{
  font-size: 65%;
}

.load-more-answer-comments{
  font-size: 65%;
}

#qc-list {
  margin-top: 1%;
}

.answer-comment-list {
  margin-top: 1%;
}

#comment-title {
  align-self: flex-start;
}

.comment-title {
  align-self: flex-start;
}

.ac-title {
  align-self: flex-start;
}

/*#question-comment-button{
  margin-top: -9%;
  margin-left: -11%;
}*/

.two-comment-one-span-button{
  margin-top: -12%;
  margin-left: -11%;
}

.two-comment-no-span-button{
  margin-top: -9%;
  margin-left: -11%;
}

.two-comment-two-span-button{
  margin-top: -15%;
  margin-left: -11%;
}

.one-comment-no-span-button{
  margin-top: -3%;
  margin-left: -11%;
}

.qc-load-more-no-span-button{
  margin-top: -5%;
  margin-left: -11%;
}

.qc-load-more-one-span-button{
  margin-top: -8%;
  margin-left: -11%;
}

.qc-load-more-two-span-button{
  margin-top: -11%;
  margin-left: -11%;
}

.qc-two-span-button{
  margin-top: -15%;
  margin-left: -11%;
}

.qc-one-span-button{
  margin-top: -12%;
  margin-left: -11%;
}

.qc-no-span-button{
  margin-top: -9%;
  margin-left: -11%;
}

.qc-one-com-one-span-button{
  margin-top: -6%;
  margin-left: -11%;
}

.qc-one-com-no-span-button{
  margin-top: -3%;
  margin-left: -11%;
}

.qc-no-com-button{
  margin-top: -1%;
  margin-left: -11%;
}
