.Aligner {
  display: flex;
  align-items: center;
  margin-left: -12%;
}

.arrows {
  margin-left: -4%;
}

.question-details {
  margin-left: -3%;
}

.answer-details {
  margin-left: -3%;
}

#load-more-comments{
  font-size: 65%;
}

.load-more-answer-comments{
  font-size: 65%;
}

#qc-list {
  margin-top: 1%;
}

.answer-comment-list {
  margin-top: 1%;
}

#comment-title {
  align-self: flex-start;
}

.comment-title {
  align-self: flex-start;
}

.ac-title {
  align-self: flex-start;
}
